.textup{
    padding-right: 5%;
padding-left: 5%;
border: red 1px solid;
background-color: white;
border-radius: 18px;

padding-top: 10px;
text-align: right;
font-size: 22px;
padding-bottom: 10px;
}
.cell{
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}
.iconfiltercolor:hover{
    transform: scale(1.2);
    cursor: pointer;
    filter: invert(9%) sepia(85%) saturate(4850%) hue-rotate(357deg) brightness(85%) contrast(89%);
}
.centertd{
    text-align: center;
    vertical-align: center;
}
.tableandplus{
    padding-right: 5%;
    position: relative;
padding-left: 5%;
border: #dedede;
background-color: white;
border-radius: 18px;
padding-top: 10px;
padding-bottom: 10px;
}
.ttp{
    flex-direction: row;
    display: flex;
    flex: 1;
    width: 100%;
    background-color: white;
    padding: 15px;
    justify-content: space-between;
    border-radius: 15px;
    align-items: center;
}
.centerimgandtext{
    display: flex;
    background-color: #efefef;
align-items: center;
justify-content: center;
border: 1px solid #dedede;
padding: 8px;
border-radius: 10px;
align-content: center;
}
.centerimgandtext:hover{
    cursor: pointer;
    transform: scale(1.15);
}